<form name="productInfoForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Product Basic Information</legend>
        <div class="form-group"
            ng-class="{'has-error':productInfoForm.productNameTextBox.$invalid &&
                                    productInfoForm.productNameTextBox.$dirty}"
        >
            <label for="productNameTextBox" class="col-sm-2 control-label">Product Name : </label>
            <div class="col-sm-4">
                <input type="text"
                       id="productNameTextBox"
                       name="productNameTextBox"
                       placeholder="Enter product name (required)"
                        ng-model="vm.product.productName"
                       class="form-control"
                        required
                       ng-minlength="4"
                       ng-maxlength="12"
                >
            </div>
            <span class="help-block has-error" >
                <span ng-show="productInfoForm.productNameTextBox.$error.required">Product name is required</span>
                <span ng-show="productInfoForm.productNameTextBox.$error.minlength">minimum length is 4</span>
                <span ng-show="productInfoForm.productNameTextBox.$error.maxlength">maximum length is 12</span>
            </span>
        </div>
        <div class="form-group"
            ng-class="{'has-error' : productInfoForm.productCodeTextBox.$invalid &&
                                     productInfoForm.productCodeTextBox.$dirty}"
        >
            <label for="productCodeTextBox" class="col-sm-2 control-label">Product Code : </label>
            <div class="col-sm-4">
                <input type="text"
                       id="productCodeTextBox"
                       name="productCodeTextBox"
                       ng-model="vm.product.productCode"
                       class="form-control"
                       ui-mask="AAA-**** (required)"
                       required
                >
            </div>
            <span class="help-block has-error" ng-show="productInfoForm.productCodeTextBox.$invalid">
                Product code is required
            </span>
        </div>
        <div class="form-group">
            <label for="inputAvailabilityDate" class="col-sm-2 control-label">Availability : </label>
            <div class="col-sm-4 ">
                <div class="input-group">
                    <input type="text"
                           id="inputAvailabilityDate"
                           class="form-control "
                           ng-model="vm.product.releaseDate"
                           datepicker-popup="MMM dd, yyyy"
                           is-open="vm.isOpen"
                    >
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="vm.open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label for="productDescriptionTextBox" class="control-label col-sm-2">Description : </label>
            <div class="col-sm-10">
                <textarea type="text" id="productDescriptionTextBox"
                           placeholder="Enter product description"
                           ng-model="vm.product.description"
                           class="form-control"
                />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <a class="btn btn-primary" ng-click="vm.submit(productInfoForm.$valid)" >
                        Save
                    </a>
                </span>
                <span>
                    <a class="btn btn-default" ng-click="vm.cancel()">
                        Cancel
                    </a>
                </span>
            </div>
        </div>

    </fieldset>
</form>